/* body{
    margin: 6rem 6rem;
}
.anime{
    margin: 6rem 6rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    position: absolute;
    z-index: 1;
}
@keyframes anime {
    0%{background-color: orange;left: 0px;top: 0px;}
    25%{background-color: red;left: 70%;top: 0px;border: 2px solid yellow;}
    50%{background-color: yellow; left: 70%;top: 252px;}
    75%{background-color: orangered;left: 0px;top: 252px;}
    100%{background-color: orange;left: 0px;top: 0px;border: 2px solid red;}
}
.transit{
    margin: 3rem 0px;
    width: 200px;
    height: 200px;
    background-color: orangered;
    border-radius: 10px;
    border: 2px solid red;
    transition: 5s;
}
.transit:hover{
    width: 300px;
    border: 2px solid red;
    background-color: transparent;
}
.transform{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    transition: transform 5s;
}
.transform:hover{
    transform: translate(500px, 0px);
    transform: rotate();
    transform: scale();
    transform: skew();
} */
.boxes{
    display: flex;
    gap: 2rem;
    margin: 1rem 3rem;
}
.box-1{
    background-color: brown;
    border-radius: 20px;
    padding: 2rem 3rem;
}
.box-2{
    background-color: brown;
    border-radius: 20px;
    padding: 2rem 3rem;
}
.box-3{
    background-color: brown;
    border-radius: 20px;
    padding: 2rem 3rem;
}
.box-4{
    background-color: brown;
    border-radius: 20px;
    padding: 2rem 3rem;
}
.boxes p{
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .boxes{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 2rem;
        /* background-color: rgb(153, 153, 153); */
    }
}