<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0F172A;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overall-body{
    margin: 0px 7rem;
}
body time{
    color: rgb(190, 190, 190);
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
.logo{
    width: 200px;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
ul li{
    list-style: none;
    /* margin: 0px 20px; */
}
ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    /* letter-spacing: 0.05cm; */
}
.container{
    width: 100%;
}
.container-1{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 50px 0px;
    width: 98%;
}
.content-container{
    width: 55%;
    color: white;
}
.content-container p{
    margin: 25px 0px;
    font-size: 20px;
    line-height: 2rem;
}
body h2{
    font-size: 30px;
}
.icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.icon-container .icon img{
    width: 50px;
    /* margin: 0px 20px; */
}
/* .icon-container .icon .i2, .i3{
    /* margin: 0px 30px; */
/*} */
.mockup{
    width: 250px;
}
.recent-project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 0px;
    color: white;
}
.recent-project-container h2{
    margin-top: 40px;
}
.non-h2-part{
    width: 100%;
    height: 990px;
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project1-content{
    width: 67%;
    height: 60%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1px;
    /* justify-content: space-between; */
}
.recent-project-container .project-1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
}
.recent-project-container .project-1 img{
    padding-left: 2rem;
    /* width: 250px; */
}
.button-project-heading{
    width: 25%;
    /* height: 70px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.button-project-heading h3{
    font-size: 25px;
    font-weight: 500;
}
.project1-content p{
    line-height: 30px;
}
.button-project-heading button{
    width: 90px;
    height: 25px;
    font-weight: bolder;
    border-style: none;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(0, 211, 0, 0.2), rgba(187, 255, 0, 0.2));
    color: rgba(0, 211, 0);
    font-size: 15px;
}
.recent-project-container .project2-content{
    width: 67%;
    height: 60%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1px;
    /* justify-content: space-between; */
}
.recent-project-container .project-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
}
.recent-project-container .project-2 img{
    padding-left: 4rem;
    /* width: 250px; */
}
.button-project-heading2{
    width: 23%;
    /* height: 70px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.button-project-heading2 h3{
    font-size: 25px;
    font-weight: 500;
}
.project2-content p{
    line-height: 30px;
}
.button-project-heading2 button{
    width: 70px;
    height: 25px;
    font-weight: bolder;
    border-style: none;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(189, 76, 1, 0.2), rgba(255, 145, 0, 0.2));
    color: rgb(238, 58, 3);
    font-size: 15px;
}
.recent-project-container .project3-content{
    width: 67%;
    height: 60%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1px;
}
.recent-project-container .project-3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
}
.recent-project-container .project3-img{
    padding: 0rem 2rem;
    /* width: 250px; */
}
.button-project-heading3{
    width: 30%;
    /* height: 70px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.button-project-heading3 h3{
    font-size: 25px;
    font-weight: 500;
}
.project3-content p{
    line-height: 30px;
}
.button-project-heading3 button{
    width: 120px;
    height: 25px;
    font-weight: bolder;
    border-style: none;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(151, 0, 255, 0.2), rgba(0, 204, 253, 0.2));
    color: rgb(153, 0, 255);
    font-size: 15px;
}
.latest-posts{
    display: flex;
    flex-direction: column;
    color: white;
}
.latest-posts .latest-posts-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-posts .latest-posts-header .view-all a{
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 144px;
    justify-content: space-between;
}
.latest-posts .latest-posts-header .view-all a p{
    color: white;
    font-weight: bolder;
}
.latest-posts .latest-posts-header .view-all a img{
    width: 30px;
    height: 30px;
}
.latest-posts .all-post{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0px;
}
.all-post a{
    text-decoration: none;
    color: white;
    width: 100%;

}
.post1, .post2, .post3{
    width: 94%;
    height: 500px;
    
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}
.post1-content, .post2-content, .post3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}
.post1 .post1-img, .post2 .post2-img, .post3 .post3-img{
    width: 100%;
}
.Subscribe-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.Subscribe-content-header{
    width: 50%;
    color: white;
}
.input-container{
    position: relative;
    width: 40%;
    display: flex;
}
.input-container input{
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.04);
}
.input-container .button{
    width: 35%;
    height: 80%;
    /* position: relative; */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    background: linear-gradient(135deg, rgb(0, 132, 255), rgb(0, 183, 255));
    font-weight: bold;
    font-size: 15px;
    z-index: 10;
}
hr{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

footer{
    margin: 10px 5rem;
    color: white;
    height: 80px;
}
.footer-body{
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    /* padding-bottom: 5px; */
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.footer-icon img{
    /* width: 26px;
    height: 30px; */
}
.Posts , .Projects, .Newsletter, .Ixart, .quosdelectus, .sit-amet {
    /* color: linear-gradient(135deg, rgb(0, 132, 255), rgb(0, 183, 255)); */
    color: rgb(0, 204, 255);
}